
&spi1 {
    status = "okay";
    cs-gpios = <&gpioa 4 (GPIO_ACTIVE_LOW)>; /* PB6 */

    wifi: esp-hosted@0 {
        reg = <0>;
        compatible = "espressif,esp-hosted";
        spi-max-frequency = <12500000>;
        handshake-gpios = <&gpioa 9 (GPIO_ACTIVE_LOW)>;
        data-ready-gpios = <&gpioc 2 (GPIO_ACTIVE_LOW)>;
        resetn-gpios = <&gpioc 1 (GPIO_ACTIVE_LOW)>;
    };
};