
&spi1 {
    status = "okay";
    cs-gpios = <&gpioa 4 (GPIO_ACTIVE_LOW)>; /* PB6 */

    wifi: esp-hosted@0 {
        reg = <0>;
        compatible = "espressif,esp-hosted";
        spi-max-frequency = <10000000>;
        handshake-gpios = <&gpioc 1 (GPIO_ACTIVE_HIGH)>;
        data-ready-gpios = <&gpiob 10 (GPIO_ACTIVE_HIGH)>;
        reset-gpios = <&gpiob 8 (GPIO_ACTIVE_LOW)>;
    };
};